img{
    width: 100px;
    height: 100px;
}
main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 80%;
    background-color: firebrick;
    overflow:hidden;
}
section{
    width: 25%;

}
p{
    
    word-wrap: break-word;
    white-space:nowrap;
}